[class*='creditgroup'] {
        display: none;
}
.header {
        justify-content: center;
}
nav, footer {
        background-color: black !important;
}
.brand-logo>i>img {
        height: 64 !important;
}
.busy-indicator {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #000000ad;
        z-index: 9999;
}
/* GOOD */

.good .header {
        color: #00c853;
}
.good nav, .good footer {
        background-color: #00c853 !important;
}
.good .btn-detail {
        background-color: #00c853 !important;
}
/* */

/* AVERAGE */

.average .header {
        color: #ffc107;
}
.average nav, .average footer {
        background-color: #ffc107 !important;
}
.average .btn-detail {
        background-color: #ffc107 !important;
}
/* */

/* BAD */

.bad nav, .bad footer {
        background-color: #e53935 !important;
}
.bad .header {
        color: #e53935;
}
.bad .btn-detail {
        background-color: #e53935 !important;
}
/* */

.responsive-img {
        max-width: 60% !important;
}
.brand-logo {
        height: 100%;
        display: flex !important;
}
.brand-logo>i>img {
        height: 100%;
}